
*{
	padding: 0;
	margin: 0;
	/*border: 1px solid;*/
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
    list-style: none;
}

/*page*/

section{
	width: 100%;
}

.container{
	width: 80%;
	margin: auto;
	margin-bottom: 80px;
}
a{
	color: black;
	text-decoration: none;
}
.container a:hover{
	text-decoration: none;
	color:black;
}
.container-article{
	width: 100%;
	margin: 80px auto;
	display: grid;
	grid-template-areas: 
	"1 2"
	"3 4";
	/* border: 1px solid blue; */
	
}

/*article*/

.hero-article{
	width: 100%;
	margin: auto;
	margin-top: 50px;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.hero-article img{
	width: 100%;
	height: 57%;
}

.hero-article .tulisan a{
	text-decoration: none;
	list-style: none;
	color: black;
}

.hero-article .tulisan a:hover{
	color: #690909f;
}

.hero-article p {
	font-weight: 400;
}
.tulisan{
	padding:35px 20px;
	/* border-bottom: 1px solid; */
}

.f-tulisan{
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 20px;
	box-sizing: border-box;
}
.tulisan .judul{
	font-size: 20px;
	font-weight: 600;
}

.tulisan .subjudul{
	font-weight: 500;
	font-style: italic;
	font-size: 13px;
}

.tulisan .isi{
	font-size: 13px;
	padding-top: 8px;
}

.judul-m-auto{
	text-align: center;
	font-size: 30px;
	font-weight: 500;
	margin: auto;
}

/*container article*/

.container-article{
	width: 100%;
	display: grid;
	grid-template-areas: 
	"grid1 grid2"
	"grid3 grid4";
	/* border: 1px solid blue; */
	grid-gap: 30px;
}

.container-article .hero-article1, .hero-article2, .hero-article3, .hero-article4{
	width: 100%;
	/* border: 1px solid blue; */
	margin: auto;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	transition: 1s ease;
}

.container-article .hero-article1:hover, .hero-article2:hover, .hero-article3:hover, .hero-article4:hover{
	box-shadow: rgba(17, 12, 46, 0.15) 0px 40px 9px -25px;
	cursor: pointer;
	margin-top: -8px;
	
}

.container-article .hero-article1 img, .hero-article2 img, .hero-article3 img, .hero-article4 img{
	width: 100%;
}



/* responsive */

/* laptop */
@media screen and (max-width: 1366px){
	html{
		font-size: 75%;
	}
}

/* tablet */
@media screen and (max-width: 768px){
	html{
		font-size: 62.5%;
	}
	/* hero */
	.container .hero-article .judul{
		font-size: 20px;
	}


	/* container-article */
	.container-article .hero-article1, .hero-article2, .hero-article3, .hero-article4{
		width: 100%;
	/* border: 1px solid blue; */
		margin: auto;
	}

	.container-article .hero-article1 img, .hero-article2 img, .hero-article3 img, .hero-article4 img{
		width: 100%;
	}

	.container-article .hero-article1 .judul, .hero-article2 .judul, .hero-article3 .judul, .hero-article4 .judul{
		font-size: 14px;
	}
	.container-article .subjudul{
		font-size: 10px;
	}
	.tulisan{
		padding: 20px 20px;

	}
	.container-article .isi{
		display: none;
	}
	
}


/* smartphone */

@media screen and (max-width: 400px){


	/* hero section */
	.container{
		margin-bottom: 20px;
	}

	.container .hero-article .tulisan{
		padding: 15px;
	}

	.container .hero-article .f-tulisan{
		padding: 15px;
		font-size: 8px;
	}

	.container .judul-m-auto{
		font-size: 16px;
	}

	.container-article{
		margin: 30px 0px;
		grid-gap: 10px;
	}
	.container .hero-article .judul{
		font-size: 14px;
	}

	.container .hero-article .subjudul{
		font-size: 10px;
	}

	.container .hero-article .isi{
		font-size: 9px;
	
	}

	.hero-article{
		border-radius: 7px;
	}

	.hero-article img{
		height: 23vh;
	}

	.container-article .hero-article1, .hero-article2, .hero-article3, .hero-article4{
		border-radius: 7px;
	}


	/* article grid */
	.container-article .hero-article1, .hero-article2, .hero-article3, .hero-article4{
		width: ;
	/* border: 1px solid blue; */
	}

	.container-article .hero-article1 img, .hero-article2 img, .hero-article3 img, .hero-article4 img{
		width: 100%;
	}

	.container-article .hero-article1 .judul, .hero-article2 .judul, .hero-article3 .judul, .hero-article4 .judul{
		font-size: 8px;
	}

	.container-article .hero-article1 .subjudul, .hero-article2 .subjudul, .hero-article3 .subjudul, .hero-article4 .subjudul{
		font-size: 6px;
	}

	.container-article .hero-article1 .isi, .hero-article2 .isi, .hero-article3 .isi, .hero-article4 .isi{
		font-size: 5px;
	}

	.container-article .hero-article1 .f-tulisan, .hero-article2 .f-tulisan, .hero-article3 .f-tulisan, .hero-article4 .f-tulisan{
		font-size: 5px;
	}

	.tulisan{
		padding: 8px;
	}

	.f-tulisan{
		padding: 8px;
	}

}	
